 
body {
    font-family:serif;
    letter-spacing: 1px;
    background-color: white;
    padding:0px;
    margin: 0px;
  }
  h1,h2,h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  p {
    font-size: 15px;
  }

  .content {
      margin:0px 20px;
  }
@media (min-width: 600px) {
      .side {
        position:absolute;
        width:200px;
        text-align:left;
        font-size: 15px;
        margin:inherit;
      }
      .main {
        position:absolute;
        left: 220px;
        margin:inherit;
      }
}
@media (max-width: 600px) {
      .side {
        width:0%;
      }
      .main {
        width: 100%; 
      }
}
  .navbar {
    position: sticky;
/*    width: 100%;*/
    top: 0;
    background-color: white;
    overflow:hidden;
    padding: 20px;
  }
  .navbar a {
    display:block;
  }

  .title a {
    float:left;
    font-weight:bold;
    font-size:24px;
    text-decoration: none;
    color:black;
  }
  .title a:hover {
    text-decoration: underline;
    text-decoration-style: wavy; 
    text-underline-position: under;
    color:black;
  }
@media (max-width: 600px) {
    .title a:hover {
        text-decoration: none;
    }
}

  .sidenav {
    padding-top: 20px;
    font-size: inherit;
    text-align:left;
  }
  .sidenav a {  
    line-height: 1.75;
    color:black;
    font-size: inherit;
    text-decoration: none;
  }
  .sidenav a:hover {
    color: #ed6051;
    text-decoration: none;
  }
@media (min-width: 600px) {

  .sidenav .closebtn {
    display: none;
  }
  .openbtn {
    display: none;
  }
}
@media (max-width: 600px) {
  .sidenav {
    height:100%;
    width:0;
    position: fixed;
    z-index: 1;
    top:0;
    right:0;
    background-color: white;
    overflow-x: hidden;
    transition: 0s;
    padding-top:40px;
  }
  .sidenav a {
    margin-left: 20px;
  }
  .sidenav p {
    margin-left: 20px;
  }
  .sidenav .closebtn {
    position:absolute;
    top:0;
    font-size:24px;
    padding:20px;

  }
  .openbtn {
    cursor:pointer;
    font-size:24px;
    float:right;
  }
}

@media (min-width: 1000px) {
.gallery {
  grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 600px) and (max-width: 1000px){
.gallery {
  grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 600px) {
.gallery {
  grid-template-columns: 1fr 1fr;
    }
}
.gallery {
  display: grid;
  grid-gap:2%;
}
.gallery img {
/*  vertical-align: middle;*/
  width: 100%;
  user-select: none;
}
.gallery img:hover {
  opacity: 90%;
}
