<script> 
    function closeNav() {
    document.getElementById("nav-js").style.width = "0";
    }
</script>

<div id="nav-js" class="sidebar">
    <div class="title large-only"><a href="/">Amick Sollenberger</a></div>
    <a href="javascript:void(0)" class="closebtn mobile-only" onclick="closeNav()">&#8694;</a><br>
    <p><i>*work in progress*</i></p>
    <nav>
        <a href="/about/">About</a> <br>
        <a href="/work/">Metalwork</a> <br>
        <a href="/work/">Found objects</a> <br>
        <a href="/work/">Research</a> <br>
        <a href="/resume/">Resume</a> <br>
        <a href="/mailto:amick_sollenberger@brown.edu">Contact</a> <br>
    </nav>
</div>

