<script>
function closeNav() {
    "use strict";
    document.getElementById("nav-js").style.width = "0";
}
</script>

<div id="nav-js" class="sidebar">
    <div id="title" class="large-only"><a href="/">Amick Sollenberger</a></div>
    <a href="javascript:void(0)" id="closebtn" class="mobile-only" onclick="closeNav()">⏎</a>
    <br>
    <nav>
        <div class="menu">
        <a href="/about/" >about</a> <br>
        <a href="/engineering/">engineering</a> <br>
        <a href="/work/">misc.</a> <br>
        <a href="/resume/">resume</a> <br>
        </div>
    </nav>
</div>

