// main.scss
$text-color: black;
$bg-color: white;
$accent: red;
$icon-size: 18px;
$navbar-height:60px;

body {
    font-family:sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $bg-color;
    padding:0px;
    margin: 0px;
}
    h1,h2,h3 {
    font-size: 18px;
    color: $text-color;
    }
    p {
    font-size: 15px;
    }

@media (min-width: 600px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 600px){
    .large-only {
      display: none;  
    }
}

.navbar {
    position: sticky;
    top: 0;
    overflow:hidden;
    a {
        color:$text-color;
        text-decoration: none; 
        margin:20px;
    }
  }

.title {
    float:left;
    font-weight:bold;
    font-size:15px;
    @media (max-width: 600px) {
        font-size: $icon-size;
    }
    &:hover {
        text-decoration: underline;
        text-decoration-style: wavy; 
        text-underline-position:below;
        color:$text-color;
        
        @media (max-width: 600px) {
            text-decoration: none;
        }
    }
}

.container {
    margin:0px 20px;
}

.sidebar {
    font-size: 15px;
    padding-top:20px;
    
    a {  
        color:black;
        line-height: 1.75;
        font-size: inherit;
        text-decoration: none;
        
        &:hover {
            color: $accent;
            text-decoration: none;
        }
    }
}

.content {
}

@media (min-width: 600px) {
    .sidebar {
        position:absolute;
        width:220px;
    }
    .content {
        position:absolute;
        left: 230px;
        margin:inherit;
    }
}

@media (max-width: 600px) {
    .sidebar {
        position: fixed;
        width:0%;
        height:100%; 
        z-index: 1;
        top:0;
        right:-20px;
        padding-left:20px;
        background-color: $bg-color;
        transition: 0.2s;
        overflow:auto;
    }
    
    .content {
        width: 100%; 
    }
}
.sidebar .closebtn {

    font-size:$icon-size;
    line-height: 1em;
    padding-bottom:20px;
}
.openbtn {
    float:right;
    font-size:$icon-size;
    line-height: 1em;
  }

.gallery {
    display: grid;
    grid-gap:2%;
    z-index: -1;
    
    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: 600px) and (max-width: 1000px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }
    img {
        /*  vertical-align: middle;*/
        width: 100%;
        user-select: none;
        :hover{
            opacity: 90%; 
        }
    }
    .square {  
        background-color: gainsboro;
        width: 100%;
        height:100%;
        user-select: none;
    }  
}



