// main.scss
$text-color: black;
$bg-color: white;
$box : $bg-color;
$border: $text-color;
$img-box: $border;
$nav-bg: $bg-color;
$accent: orangered;
$icon-size: 18px;
$navbar-height:60px;
$borderrad: 0px;
$borderwid: 1px;
$textstyle: lowercase;
$font: sans-serif;

body {
    font-family: $font;
    font-size: 14px;
    color:$text-color;
    
    background-color: $bg-color;
    padding:0px;
    margin: 0px;
    
    a {
//        color:$text-color;
    } 
}
    h1 {
    font-size: inherit;
//    text-transform: $textstyle;
    font-style: normal;
    font-weight: bold;
    }
    h2 {
    font-size: inherit;
//    text-transform: $textstyle;
    font-style: italic;
    font-weight: normal;
    }
    h3 {
    font-size: inherit;
//    text-transform: $textstyle;
    font-style: normal;
    font-weight: normal;
    }
    p {
    font-size: inherit;
    line-height: 1.25;
    text-transform: none;
//    text-align:justify;
    }

@media (min-width: 600px) {
    .mobile-only {
        display: none;
    }
}
@media (max-width: 600px){
    .large-only {
        display: none;  
    }
}

.navbar {
//    position: sticky;
    top: 0;
    overflow:hidden;
    background-color: $bg-color;
    a {
        font-size:16px;
        color:$text-color;
        padding:20px;
    }
  }

.title a{
    float:left;
    font-style: normal;
    color:$text-color;
//    font-weight: 600;
//    text-transform: $textstyle;
//    text-decoration: none;
    
    text-decoration-style: wavy;
    text-decoration-color: $accent;
    text-underline-position:below;
    text-decoration-thickness: 1px;
    
    @media (max-width: 600px) {
//        font-size: 16px;
    }
    &:hover {
        
//        @media (max-width: 600px) {
//            text-decoration: none;
//        }
    }
    @media (min-width: 600px) {
        margin-bottom: 60px;
    }
}

.container {
    width:100vw;

}

.sidebar {
    padding:10px;
    float:left;
    box-sizing: border-box;
    font-size: 16px;
    .menu {  
        a{
        line-height: 1.75;
        text-decoration: none;
//        text-transform: $textstyle;
        
        &:hover {
            font-style: italic;
            text-decoration:none;
        }
    }
    }
}

.content {
//        border-style:solid;
//        border-width:$borderwid;
//        border-color: $border;
//        border-radius: $borderrad;
//        background-color:$box;
}

@media (min-width: 600px) {
    .sidebar {
        a{
//            color:$text-color;
        }
        position:absolute;
        width:205px;
        padding: 20px;
        margin-left:10px;
        margin-top:10px;
        
        height:250px;

        background-color:$nav-bg;
    }
    .content {
        position:absolute;
        left: 240px;
        margin-top:10px;
        padding: 10px;
        width: calc(95% - 240px);
    }
}

@media (max-width: 600px) {
    .sidebar {
        position: fixed;
        width:0%;
        height:100%; 
        z-index: 1;
        top:0;
        right:-40px;
        margin-left: 60px;
        padding-left: 40px;
        transition: 0.2s;
        overflow:auto;
        
        background-color:$nav-bg;
         a{
//             color:$text-color;
        }
    }
    
    .content {
        width: calc(100% -40px); 
        margin: 0 20px;
        
    }
}
#closebtn {
    font-size:$icon-size;
    line-height: 2em;
    text-decoration: none;
    color: $text-color;
    font-weight:normal;
}
#openbtn {
    float:right;
    font-size:$icon-size;
    line-height: 1em;
    text-decoration: none;
    color: $text-color;
    font-weight:normal;
  }

.gallery1 {
    display: grid;
    gap:6%;  
    z-index: -1;
    width: 100%;
    
    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: 600px) and (max-width: 1000px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }
    .imgbox {
        display:flex;
        img {
            width: 100%;
            height:auto;
            margin:0;
        }
        width:100%;
        height:auto;
//        padding-bottom: 100%;
        box-sizing: border-box;
        border-style:solid;
        border-width:$borderwid;
        border-color: $img-box;
        border-radius: $borderrad;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: cover; 
        &:hover{
            opacity: 80%;
        }
    }  
}
.gallery { 
    z-index: -1;
    font-size:0;    
    column-gap: 60px; /* must match the bottom margin of imgbox */
    width:100%;

        @media (min-width: 1000px) {
            column-count: 3; 
        }
        @media (min-width: 600px) and (max-width: 1000px){
            column-count: 2;
        }
        @media (max-width: 600px) {
            column-count: 1;
        }
    .imgbox {
        img {
            width: 100%;
            height: auto;
            border-style:solid;
            border-width:1px;
            border-color: $img-box;   
        }
        p {
        font-size: 12px;
//        font-family:sans-serif; 
        }
        break-inside: avoid;
        align-content: center;
        padding:5% 5% 0% 5%;
        box-sizing: border-box;
        margin-bottom: 40px;
    }
}
.page {
    
    img {
        width:70%;
        border-style:solid;
        border-width:$borderwid;
        border-color: $img-box;
        box-sizing: border-box;
        border-radius: $borderrad;
        margin-bottom:10px;
    }
}

.project {
    display: grid;
    gap: 20px;

    img {
        object-fit: contain;
        max-width: 100%;
        border-style: solid;
        border-width: $borderwid;
        border-color: $img-box;
        box-sizing: border-box;
        cursor: pointer; 
        border-radius: $borderrad;
    }

    .main {
        grid-row-end: span 5; 
        border-style: none;
        aspect-ratio: 4 / 3; // Change this ratio as needed
//        max-height:80vh;
    }

    @media (min-width: 600px) {
        grid-template-columns: auto 10vw;
        width:90%;
        .main{
            height:40vw;
        }
    }
    @media (max-width: 600px) {
        grid-template-columns: auto auto auto auto;
        width:100%;
        .main {
            grid-column-start: 1;
            grid-column-end: 5;
            height:70vw;
            max-height: none;
        }
        img {
            max-height: 100px;
        }
    }
}

.pagelist {

    .card {
        width:100%;
        min-height: 170px;
        height: auto;
        border-bottom-style:solid;
        border-bottom-width:$borderwid;
        border-bottom-color: $border;
        box-sizing: border-box;
//        border-radius: $borderrad;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        display:block;
        background-color: $box;
        
        img {
            height:150px;
            width:auto;
            box-sizing: border-box;
            border-style:solid;
            border-width: $borderwid;
            border-color: $img-box;
            margin: 0px 10px 0px 10px;
        }
        .desc {    
            box-sizing: border-box;
            display:block;
            margin:10px;
            line-height: 1.25;
        }
    }
}
.pagelist .card:nth-child(odd) img {
    float:left;
    clear:left; 
    margin-right: 10px;
    border-right-style:solid;
    border-right-width: $borderwid;
    border-right-color: $border;
}
.pagelist .card:nth-child(even) img {    
    float:right;
    clear:right;  
    border-left-style:solid;
    border-left-width: $borderwid;
    border-left-color: $border;

}

