// main.scss
$text-color: black;
$bg-color: white;
$accent: chocolate;
$icon-size: 18px;
$navbar-height:60px;


body {
    font-family:monospace;
//    text-transform: lowercase;
//    letter-spacing: 1px;
    background-color: $bg-color;
    padding:0px;
    margin: 0px;
    color: $text-color;
    
}
    h1 {
    text-transform: uppercase;
    font-size: 18px;
    }
    h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    }
    h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: inherit;
    }
    p {
    font-size: 15px;
    }

@media (min-width: 600px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 600px){
    .large-only {
      display: none;  
    }
}

.navbar {
    position: sticky;
    top: 0;
    overflow:hidden;
    a {
        text-transform: lowercase;
        color:$text-color;
        text-decoration: none; 
        padding:20px;
    }
  }

#title a{
    float:left;
    font-style: normal;
    text-transform: uppercase;
    font-size:18px;
    text-decoration: none;
    color:$text-color;
//    text-decoration-style: wavy;
//    text-decoration-color: $accent;
//    text-underline-position:below;
//    text-decoration-thickness: 1.5px;
    
    @media (max-width: 600px) {
        font-size: $icon-size;
    }
    &:hover {
        font-style: normal;
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-color: $accent;
        text-underline-position:below;
        text-decoration-thickness: 1.5px;
//        color:$text-color;
        
//        @media (max-width: 600px) {
//            text-decoration: none;
//        }
    }
    @media (min-width: 600px) {
        padding-bottom: 60px;
    }
}

.container {
    width:100vw;
}

.sidebar {
    height:100%;
    font-size: 15px;
    float:left;
//    background-color: beige;
    .menu {  
        a{
        color:$text-color;
        line-height: 1.75;
        font-size: inherit;
        text-decoration: none;
        
        &:hover {
            font-style: italic;
            text-decoration:none;
//            text-decoration-style:wavy;
//            text-decoration-thickness: 1px; 
//            text-decoration-color: $accent;
        }
    }
    }
}

.content {

}

@media (min-width: 600px) {
    .sidebar {
        position:absolute;
        width:200px;
        padding: 20px;
    }
    .content {
        position:absolute;
        left: 240px;
        margin:inherit;
        margin: 10px;
        width: calc(100% - 260px);
    }
}

@media (max-width: 600px) {
    .sidebar {
        position: fixed;
        width:0%;
        height:100%; 
        z-index: 1;
        top:0;
        right:-40px;
        margin-left: 60px;
        padding-left: 40px;
        background-color: $bg-color;
        transition: 0.2s;
        overflow:auto;
    }
    
    .content {
        width: calc(100% - 40px); 
        margin: 0 20px;
    }
}
.sidebar .closebtn {
    font-size:$icon-size;
    line-height: 1em;
    padding-bottom:20px;
}
.openbtn {
    float:right;
    font-size:$icon-size;
    line-height: 1em;
  }

.gallery {
    display: grid;
    gap:2%;  
    z-index: -1;
    width: 100%;
    
    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: 600px) and (max-width: 1000px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }
    .imgbox {
        width:100%;
        padding-bottom: 100%;
        box-sizing: border-box;
        border-style:solid;
        border-width:1px;
        border-color: black;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: cover; 
        &:hover{
            opacity: 80%;
        }
    }  
}
.page {
    
    img {
        width:70%;
        border-style:solid;
        border-width:1px;
        border-color: black;
        box-sizing: border-box;
        margin-bottom:10px;
    }
}

.project {
    display: grid;
    gap:20px;
    
    img {
        width: 100%;
        border-style:solid;
        border-width:1px;
        border-color: black;
        box-sizing: border-box;
    }
    .main {
        grid-row-end: span 4;
    }
    
    @media (min-width: 1000px) {
        grid-template-columns: auto 150px;
    }
    @media (min-width: 600px) and (max-width: 1000px){
        grid-template-columns: auto 100px;
    }
    @media (max-width: 600px) {
        grid-template-columns: auto auto auto auto;
        .main {
            grid-column-start: 1;
            grid-column-end: 5;
         }
    }
}

.pagelist {

    .card {
        width:100%;
        min-height: 152px;
        height: auto;
        border-style:solid;
        border-width:1px;
        border-color: black;
        box-sizing: border-box;
        margin-top: 10px;
        
        img {
            height:150px;
            width:auto;
            border-style:solid;
            border-width:1px;
            border-color: black;
            box-sizing: border-box;
        }
        .desc {
            box-sizing: border-box;
            display:block;
            margin:10px;
        }
    }
}
.pagelist .card:nth-child(odd) img {
    float:left;
    clear:left;  
}
.pagelist .card:nth-child(even) img {    
    float:right;
    clear:right;  
}

