---
layout: default
---
<script>
function activateImg(imgs) {
  // Get the expanded image
  var activatedImg = document.getElementById("activeImg");
  // Use the same src in the expanded image as the image being clicked on from the grid
  activatedImg.src = imgs.src;
  } 
</script>

{% if page.title %}
	<h1>{{page.title}}</h1>
{% else %}
	<h1>Untitled</h1>
{% endif %}
        
{% if page.medium %}
<h2>{{page.medium}}</h2>
{% endif %}
        
<h3>{{ page.date | date: "%B %Y" }}{% if page.location %}, {{page.location}}<h3>
{% endif %}


{% if page.image %}
<div class="project">
    <img id="activeImg" class="main" src="{{page.image}}">
    {% for image in site.static_files %}
        {% if image.path contains page.images %}
            <img src="{{site.baseurl}}{{image.path}}" alt="image" onclick="activateImg(this);" >
        {% endif %}
    {% endfor %}
 </div>

{% endif %}

{{ content }}
